<!-- Section About Intro -->
<section class="padding padding-bottom-0">
	<div class="container">
		<div class="row">
			<div class="about-intro">
				<div class="about-intro-img">
					<img src="/assets/images/About/1.jpg" class="img-responsive" alt="Image">
				</div>
				<div class="about-intro-text">
					<h2 class="text-cap">Студия дизайна интерьеров</h2>
					<p>Основным видом деятельности <strong>Nice home studio</strong> являтся разработка проектов дизайна интерьеров квартир и коттеджей. Каждый из них можно условно поделить на творческую (цвет, стиль, планировочное решение, комплектация, декор, эскизы, визуализация и т.п.) и инженерную (чертежи, схемы, расчёты объёмов, развёртки, сечения - всё что необходимо строителям для проведения ремонтных работ, а также для согласований с надзорными органами) составляющие. Каждый этап профессионально прорабатывается нашими специалистами.</p>
					<p><strong>Профессиональны.</strong> Мы не дизайнеры-новички, которые прошли ускоренные курсы и научились рисовать планы и делать красивые картинки. Мы коллектив профессионалов с высшим инженерно-строительным образованием. В наших проектах не бывает ошибок, которые приводят к расходам времени, средств  и нервов заказчика на этапе реализации.</p>
					<p><strong>Проекты под ключ с прозрачной стоимостью.</strong> Осуществляем авторский надзор и менеджмент проекта. Вам не нужно будет ни о чём заботиться и тратить своё время. Мы организуем закупку и доставку материалов по минимально доступным ценам, взаимодействие с подрядчиками и надзорными органами, контроль за строителями и соблюдение сроков. Эти услуги оплачиваются отдельно - Вы понимаете за что платите. Но мы, в отличие от большинства других исполнителей, не закладываем свою скрытую надбавку в стоимость материалов и услуг подрядчиков и не расхищаем средства заказчика. Напротив, наша цель - снизить расходы заказчика.</p>
					<div class="clearfix mgb20"></div>
					<h2 class="text-cap">Подбор исполнителей</h2>
					<p>Мы сотрудничаем с бригадами строителей, которых каждый раз проверяем.</br>
						У нас в штате есть специалист по художественному декорированию стен, работы которого поражают своей красотой. Мы придадим Вашим помещениям уникальное художественное наполнение.</p>
					<p>Работая с нами, Вы получите результат, который полностью удовлетворит всех - Вас, строителей и надзорные органы.</p>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Section About Intro -->