<footer class="footer-v1">
	<!-- Left Footer -->
	<div class="footer-left">
		<a href="home.html">
			<img src="/assets/images/Header/logo-invest.png" class="img-responsive" alt="Image">
		</a>
	</div>
	<!-- End Left Footer -->

	<!-- Nav Footer -->
	<nav>
		<ul>
			{% assign footer_items = site.data.menu | where: 'footer', true %}
			{% for menu_item in footer_items %}
			<li>
				<a class="text-cap" href="{{ menu_item.href }}">{{ menu_item.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
	<!-- End Nav Footer -->

	<!-- Right Footer -->
	<div class="footer-right">
		<ul class="social social-footer">
			<li class="instagram"><a href="{{ site.data.contacts.instagram.href }}"><i class="fab fa-instagram"></i></a></li>
			<li class="whatsapp"><a href="{{ site.data.contacts.whatsapp.href }}"><i class="fab fa-whatsapp"></i></a></li>
		</ul>
	</div>
	<!-- End Right Footer -->
</footer>
<!-- End Footer -->