<footer class="footer-v1">
	<!-- Left Footer -->
	<div class="footer-left">
		<a href="home.html">
			<img src="http://placehold.it/119x29/ccc.jpg " class="img-responsive" alt="Image">
		</a>
	</div>
	<!-- End Left Footer -->

	<!-- Nav Footer -->
	<nav>
		<ul>
			<li>
				<a class="text-cap" href="#">Портфолио</a>
			</li>
			<li>
				<a class="text-cap" href="#">Услуги</a>
			</li>
			<li>
				<a class="text-cap" href="#">О нас</a>
			</li>
			<li>
				<a class="text-cap" href="#">Блог</a>
			</li>
			<li>
				<a class="text-cap" href="#">Контакты</a>
			</li>
		</ul>
	</nav>
	<!-- End Nav Footer -->

	<!-- Right Footer -->
	<div class="footer-right">
		<ul class="social social-footer">
			<li class="instagram"><a href="{{ site.data.contacts.instagram.href }}"><i class="fab fa-instagram"></i></a></li>
			<li class="whatsapp"><a href="{{ site.data.contacts.whatsapp.href }}"><i class="fab fa-whatsapp"></i></a></li>
		</ul>
	</div>
	<!-- End Right Footer -->
</footer>
<!-- End Footer -->