{% if page.home %}
<header id="mainmenu" class="header-v2 header-fix" data-0="padding:10px;padding-left:40px;padding-right:40px;background:rgba(0,0,0,0)" data-251="padding:10px; padding-left:40px;padding-right:40px;top:0;background:rgba(0,0,0,1)">
{% else %}
<header id="mainmenu" class="header-v2 header-border header-fix header-bg-white" data-0="padding:10px;padding-left:40px;padding-right:40px;" data-251="padding:10px; padding-left:40px;padding-right:40px;top:0;">
{% endif %}
	<!-- Left Header -->
	<div class="left-header">
		<ul class="navi-level-1">
			<li><a href="home.html" class="logo"><img src="/assets/images/Header/{% if page.home %}logo-invest.png{% else %}logo.png{% endif %}" class="img-responsive" alt="Image"></a></li>
			<li class="hidden-xs hidden-sm"><a class="tel-header" href="{{ site.data.contacts.phone.href }}">{{ site.data.contacts.phone.number }}</a></li>
			<li class="hidden-lg hidden-md"><a href="{{ site.data.contacts.phone.href }}"><i class="fas fa-phone" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<!-- End Left Header -->

	<!-- Right Header -->
	<ul class="navi-level-1 sub-navi" >
		<li>
			<a href="{{ site.data.contacts.instagram.href }}"><i class="fab fa-instagram"></i></a>
		</li>
		<li>
			<a href="{{ site.data.contacts.whatsapp.href }}"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
		</li>
		<li class="hidden-lg hidden-md">
			<a href="#/" class="mm-toggle"><i class="fas fa-bars" aria-hidden="true"></i></a>
		</li>
	</ul>
	<!-- End Right Header -->

	<!-- Nav Header -->
	<nav>
		<ul class="navi-level-1 main-navi ">
			{% for menu_item in site.data.menu %}
			<li class="has-sub"><a href="{{ menu_item.href }}"><span>{{ menu_item.name }}</span></a>
				{% if menu_item.sub %}
				<ul class="navi-level-2">
					{% for sub in menu_item.sub %}
					<li><a href="{{ sub.href }}">{{ sub.name }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>

	</nav>
	<!-- End Nav Header -->

</header>
<!-- End  Header -->