<!-- Section Isotop Lastest Project -->
<section class="padding bg-grey padding-bottom-0">
	<div class="title-block">
		<h2 class="title text-cap">Недавние проекты</h2>
		<div class="divider divider-1 ">
			<svg class="svg-triangle-icon-container">
				<polygon class="svg-triangle-icon" points="6 11,12 0,0 0"></polygon>
			</svg>
		</div>
	</div>
	<!-- End Title -->

	<div class="lastest-project-warp clearfix">
		<div class="projectFilter project-terms">
			<a href="#" data-filter="*" class="current text-cap"><h4>Все</h4></a>
			{% assign begin = site.portfolio.size | minus: 8 %}
			{% assign last_projects = site.portfolio | sort: "order" | slice: begin, site.portfolio.size %}

			{% assign filters_list = "" %}
			{% for project in last_projects %}
				{% assign filters_list = filters_list | append: project.filter %}
				{% assign filters_list = filters_list | append: "|" %}
				{% assign filters_list = filters_list | append: project.category %}

				{% if forloop.last == false %}
					{% assign filters_list = filters_list | append: "::" %}
				{% endif%}
			{% endfor %}

			{% assign filters_array = filters_list | strip | split: '::' | uniq %}

			{% for filter in filters_array %}
				{% assign filter_vals = filter | split: '|' %}
				<a href="#" data-filter=".{{ filter_vals[0] | strip }}" class="text-cap"><h4>{{ filter_vals[1] | strip }}</h4></a>
			{% endfor %}
		</div>
		<!-- End Project Fillter -->

		<div class="clearfix projectContainer">

			{% assign projects = last_projects | sort: "order" %}

			{% for project in projects %}
			<div class="element-item  {{ project.filter }}">
				<img src="{{ project.img_src }}" class="img-responsive" alt="Image">
				<div class="project-info">
					<a href="{{ project.url }}"><h4 class="title-project text-cap text-cap">{{ project.header }}</h4></a>
					<a href="{{ project.url }}" class="cateProject">{{ project.category }}</a>
				</div>
			</div>
			{% endfor %}

		</div>
		<!-- End project Container -->
	</div>
	<!-- End  -->

	{% assign menu_item = site.data.menu | where: 'id', 'portfolio' | first %}
	{% if menu_item %}
	<div class="overlay-arc">
		<div class="layer-1">
			<a href="{{ menu_item.href }}" class="ot-btn btn-dark-color text-cap">Все проекты</a>
		</div>
	</div>
	{% endif %}
</section>
<!-- End Section Isotop Lastest Project -->