<!-- Section Isotop Lastest Project -->
<section class="padding bg-grey padding-bottom-0">
	<div class="title-block">
		<h2 class="title text-cap">Недавние проекты</h2>
		<div class="divider divider-1 ">
			<svg class="svg-triangle-icon-container">
				<polygon class="svg-triangle-icon" points="6 11,12 0,0 0"></polygon>
			</svg>
		</div>
	</div>
	<!-- End Title -->

	<div class="lastest-project-warp clearfix">
		<div class="projectFilter project-terms">
			<a href="#" data-filter="*" class="current text-cap"><h4>Все</h4></a>
			{% for filter in site.data.lastest_projects.filters %}
			<a href="#" data-filter=".{{ filter.filter }}" class="text-cap"><h4>{{ filter.category }}</h4></a>
			{% endfor %}
		</div>
		<!-- End Project Fillter -->

		<div class="clearfix projectContainer">

			{% for project in site.data.lastest_projects.projects %}
			<div class="element-item  {{ project.filter }}">
				<img src="{{ project.img_src }}" class="img-responsive" alt="Image">
				<div class="project-info">
					<a href="portfolioDetail.html"><h4 class="title-project text-cap text-cap">{{ project.title }}</h4></a>
					<a href="portfolioDetail.html" class="cateProject">{{ project.category }}</a>
				</div>
			</div>
			{% endfor %}

		</div>
		<!-- End project Container -->
	</div>
	<!-- End  -->

	{% assign menu_item = site.data.menu | where: 'id', 'portfolio' | first %}
	{% if menu_item %}
	<div class="overlay-arc">
		<div class="layer-1">
			<a href="{{ menu_item.href }}" class="ot-btn btn-dark-color text-cap">Все проекты</a>
		</div>
	</div>
	{% endif %}
</section>
<!-- End Section Isotop Lastest Project -->