<!-- Mobile Menu -->
<div class="mobile-menu-first">
	<div id="mobile-menu" class="mobile-menu">
		<div class="header-mobile-menu">
			<a href="{{ site.data.contacts.phone.href }}">{{ site.data.contacts.phone.number }}</a>
			<div class="mm-toggle">
				<span aria-hidden="true" class="icon_close"></span>
			</div>
		</div>

		<!-- Mobile Menu -->
		<div class="mCustomScrollbar light" data-mcs-theme="minimal-dark">
			<ul>
				<li>
					<a href="default.html"><i class="icon-home"></i> Главная</a>
				</li>
				<li><a href="portfolioGrid_1.html"><span>Портфолио</span></a>
					<ul>
						<li><a href="portfolioGrid_1.html">Grid 2 Columns V1</a></li>
						<li><a href="portfolioGrid_2.html">Grid 3 Columns V1</a></li>
						<li><a href="portfolioGrid_4.html">Grid 4 Columns V1</a></li>
						<li><a href="portfolioGrid_2_col_V2.html">Grid 2 Columns V2</a></li>
						<li><a href="portfolioGrid_3_col_V2.html">Grid 3 Columns V2</a></li>
						<li><a href="portfolioGrid_4_col_V2.html">Grid 4 Columns V2</a></li>
						<li><a href="portfolioDetail_1.html">Portfolio Details 1</a></li>
						<li><a href="portfolioDetail_2.html">Portfolio Details 2</a></li>
						<li><a href="portfolioDetail_3.html">Portfolio Details 3</a></li>
					</ul>
				</li>
				<li><a href="servicesList.html"><span>Услуги</span></a>
					<ul>
						<li><a href="servicesList.html">Services List</a></li>
						<li><a href="services_detail_1.html">Services Details V1</a></li>
						<li><a href="services_detail_2.html">Services Details V2</a></li>
					</ul>
				</li>
				<li>
					<a href="about.html"><span>О нас</span></a>
				</li>
				<li><a href="blogList.html"><span>Блог</span></a>
					<ul>
						<li><a href="blogGrid_2_col.html">Grid 2 Columns</a></li>
						<li><a href="blogGrid_3_col.html">Grid 3 Columns</a></li>
						<li><a href="blogGrid_4_col.html">Grid 4 Columns</a></li>
						<li><a href="blogList.html">Blog List</a></li>
						<li><a href="blogDetail.html">Blog Detail</a></li>
					</ul>
				</li>
				<li><a href="contact.html"><span>Контакты</span></a>
					<ul>
						<li><a href="contact.html">Contact Style 1</a></li>
						<li><a href="contact_2.html">Contact Style 2</a></li>
						<li><a href="contact_3.html">Contact Style 3</a></li>
					</ul>
				</li>
			</ul>
			<div class="footer-mobile-menu">
				<ul class="social">
					<li class="instagram"><a href="{{ site.data.contacts.instagram.href }}"><i class="fab fa-instagram"></i></a></li>
					<li class="whatsapp"><a href="{{ site.data.contacts.instagram.href }}"><i class="fab fa-whatsapp"></i></a></li>
				</ul>

				<ul class="address-footer-mobile">
					<li><p>{{ site.data.contacts.address }}</p></li>
					<li><p>{{ site.data.contacts.phone.number }}</p></li>
					<li><p>{{ site.data.contacts.email }}</p></li>

				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Mobile Menu -->