<!-- Mobile Menu -->
<div class="mobile-menu-first">
	<div id="mobile-menu" class="mobile-menu">
		<div class="header-mobile-menu">
			<a href="{{ site.data.contacts.phone.href }}">{{ site.data.contacts.phone.number }}</a>
			<div class="mm-toggle">
				<span aria-hidden="true" class="icon_close"></span>
			</div>
		</div>

		<!-- Mobile Menu -->
		<div class="mCustomScrollbar light" data-mcs-theme="minimal-dark">
			<ul>
				{% for menu_item in site.data.menu %}
				<li>
					<a href="{{ menu_item.href }}"><i class="icon-home"></i>{{ menu_item.name }}</a>
					{% if menu_item.sub %}
					<ul>
						{% for sub in menu_item.sub %}
						<li><a href="{{ sub.href }}">{{ sub.name }}</a></li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			<div class="footer-mobile-menu">
				<ul class="social">
					<li class="instagram"><a href="{{ site.data.contacts.instagram.href }}"><i class="fab fa-instagram"></i></a></li>
					<li class="whatsapp"><a href="{{ site.data.contacts.instagram.href }}"><i class="fab fa-whatsapp"></i></a></li>
				</ul>

				<ul class="address-footer-mobile">
					<li><p>{{ site.data.contacts.address }}</p></li>
					<li><p>{{ site.data.contacts.phone.number }}</p></li>
					<li><p>{{ site.data.contacts.email }}</p></li>

				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Mobile Menu -->