<!-- Section Overlay -->
<section>
	<div class="overlay-arc overlay-3">
		<div class="layer-1 text-center ">
			<div class="box-content-overlay-3 ">
				<h2 class=" wow fadeInDown" data-wow-delay=".15s">Вы получите результат, который полностью удовлетворит всех - </br>Вас, строителей и надзорные органы.</h2>
				<a href="/contacts" class="ot-btn btn-dark-color btn-long text-cap wow fadeInUp2" data-wow-delay=".25s">Работать с нами</a>
			</div>
		</div>
	</div>
</section>
<!-- End Section Overlay -->