<!-- Section Portfolio -->
<section class="padding bg-grey padding-bottom-0">
	<div class="lastest-project-warp portfolio-grid-2-warp clearfix">
		<div class="projectFilter project-terms line-effect-2">
			<a href="#" data-filter="*" class="current text-cap">
				<h4>Все проекты</h4>
			</a>
			{% assign ordered_projects = site.portfolio | sort: "order" %}

			{% assign filters_list = "" %}
			{% for project in ordered_projects %}
				{% assign filters_list = filters_list | append: project.filter %}
				{% assign filters_list = filters_list | append: "|" %}
				{% assign filters_list = filters_list | append: project.category %}

				{% if forloop.last == false %}
					{% assign filters_list = filters_list | append: "::" %}
				{% endif%}
			{% endfor %}

			{% assign filters_array = filters_list | strip | split: '::' | uniq %}

			{% for filter in filters_array %}
				{% assign filter_vals = filter | split: '|' %}
			<a href="#" data-filter=".{{ filter_vals[0] | strip }}" class="text-cap">
				<h4>{{ filter_vals[1] | strip }}</h4>
			</a>
			{% endfor %}
		</div>
		<!-- End Project Fillter -->

		<div class="clearfix projectContainer portfolio-grid-2-container">
			{% for project in ordered_projects %}
			<div class="element-item  {{ project.filter }}">
				<a class="portfolio-img-demo" href="{{ project.url }}"><img src="{{ project.img_src }}" class="img-responsive" alt="Image"></a>
				<div class="project-info">
					<a href="{{ project.url }}">
						<h4 class="title-project text-cap text-cap">{{ project.header }}</h4>
					</a>
					<a href="{{ project.url }}" class="cateProject">{{ project.category }}</a>
				</div>
			</div>
			{% endfor %}
		</div>
		<!-- End project Container -->
	</div>
</section>
<!-- End Section Portfolio -->