<!-- Design Detail -->
<section class="padding padding-bot-30">
	<div class="container">
		<div class="row">
			{% assign services = site.services | sort: "order" %}
			{% for service in services %}
			<div class="col-md-6">
				<div class="block-img-full service-item">
					<a class="img-block" href="{{ service.url }}"><img src="{{ service.summary.img_src }}" class="img-responsive" alt="Image"></a>
					<div class="text-box">
						<h4 class="text-cap">{{ service.summary.header }}</h4>
						<p>
							{{ service.summary.description }}
						</p>
						<a class="text-cap view-more" href="{{ service.url }}">Подробнее...</a>
					</div>

				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End Design Detail -->