<!-- Section subcribe -->
<section class="padding">
	<div class="container">
		<div class="row">
			<div class="title-block">
				<h2 class="title text-cap">Don't forget to sign up!</h2>
				<div class="divider divider-1">
					<svg class="svg-triangle-icon-container">
						<polygon class="svg-triangle-icon" points="6 11,12 0,0 0"></polygon>
					</svg>
				</div>
			</div>
			<!-- End Title -->
			<div class="form-subcribe">

				<p class="text-center">Find out early about all upcoming promotions and new products releases with<br>
					our newsletter.</p>
				<form method="post">
					<input class="newsletter-email input-text" placeholder="email@example.com" type="email">
					<button class="ot-btn btn-main-color text-cap" type="submit">Subscribe</button>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- End Section subcribe -->