---
layout: base
---
{% include slider_section.html %}

{% include header.html %}

{% include what_we_do.html %}

{% include our_services.html %}

{% include our_team.html %}

{% include overlay.html %}

{% include lastest_projects.html %}

{% if page.blog_section %}
	{% include lastest_blog.html %}
{% endif %}

{% if page.partner_section %}
	{% include partners_section.html %}
{% endif %}

{% if page.feedbacks_section %}
	{% include feedbacks_section.html %}
{% endif %}

{% if page.subscribe_section %}
	{% include subscribe_section.html %}
{% endif %}